.bg_light_gray {
  background-color: rgba(217, 217, 217, 0.5);
}
.left_arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: -20px;
  z-index: 1;
  /* width: 6.6%; */
  min-width: 45px;
}
.right_arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: -20px;
  z-index: 1;
  /* width: 6.6%; */
  min-width: 45px;
}

.w_50 {
  max-width: 50px;
}
.w_70 {
  width: 50px;
}
@media (min-width: 576px) {
  .w_50 {
    max-width: 100px;
  }
}

@media (min-width: 768px) {
  .right_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-0%);
    right: -5px;
    z-index: 1;
    /* width: 6.6%; */
    min-width: 45px;
  }
  .left_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-0%);
    left: -5px;
    z-index: 1;
    /* width: 6.6%; */
    min-width: 45px;
  }
  .w_50 {
    max-width: 110px;
  }
}

@media (min-width: 992px) {
  .w_70 {
    width: 100px;
  }
}
