/* @import url(./pankaj.css); */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  --fs-xl: 16px;
  --fs-2xl: 18px;
  --fs-3xl: 20px;
  --fs-3xxl: 26px;
  --fs-4xl: 16px;
  --fs-4xxl: 28px;
  --fs-5xl: 22px;
  --fs-6xl: 30px;
  --fs-10xl: 35px;
  /* colors */
  --clr-black: #000000;
  --clr-white: #fff;
  --clr-light: #f5efef;
  --clr-dark: #181818;
  --clr-gray: #606060;
  --clr-lightgray: rgba(217, 217, 217, 0.5);
}

.text_black {
  color: var(--clr-black);
}

.text_dark {
  color: var(--clr-dark);
}

.text_white {
  color: var(--clr-white);
}

.text_light {
  color: var(--clr-light);
}

.text_gray {
  color: var(--clr-gray);
}

.text_lightgray {
  color: var(--clr-lightgray);
}

.ff_forum {
  font-family: "Forum";
}

.ff_mont {
  font-family: "Montserrat";
}

/* font-weight */
.fw_regular {
  font-weight: 400;
}

.fw_medium {
  font-weight: 500;
}

.fw_semibold {
  font-weight: 600;
}

.fw_bold {
  font-weight: 700;
}

.fw_extrabold {
  font-weight: 800;
}

/* font-size */
.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

.fs_3xxl {
  font-size: var(--fs-3xxl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.fs_4xxl {
  font-size: var(--fs-4xxl);
}

.fs_5xl {
  font-size: var(--fs-5xl);
}

.fs_6xl {
  font-size: var(--fs-6xl);
}

.fs_10xl {
  font-size: var(--fs-10xl);
}

.bg_dark {
  background-color: var(--clr-dark);
}

.main_box {
  background-image: url(/assets/img/webp/main-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero_section {
  background-image: url(/assets/img/webp/hero-img.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav ul li {
  padding: 0px 4px;
  border-radius: 6px;
  transition: linear 200ms;
}

nav ul li:hover {
  background-color: var(--clr-lightgray);
}

nav ul li:hover a {
  color: unset;
}

nav div a img {
  transition: linear 200ms;
}

nav div a:hover img {
  transform: translateY(-10px);
}

.nav_number_links {
  padding: 0px 3px;
  transition: linear 200ms;
}

.nav_number_links:hover {
  background-color: var(--clr-lightgray);
  color: var(--clr-gray);
}

.responsive_nav {
  max-width: 400px;
  width: 0%;
  background-color: var(--clr-white);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: linear 300ms;
  z-index: 999;
}

.Menu_line {
  height: 3px;
  background-color: var(--clr-black);
  width: 25px;
}

.openNav {
  width: 100%;
  opacity: 1;
  pointer-events: all;
}

.custom-container {
  max-width: 1920px;
}

.hero_btn {
  padding: 22px 12px;
  border: 3px solid var(--clr-light);
  transition: linear 250ms;
}

.hero_btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.contact_btn {
  padding: 14px 18px;
  border: 3px solid var(--clr-black);
  transition: linear 250ms;
}

.contact_btn:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) !important;
  right: 10px;
  z-index: 1;
  width: 6.6%;
  min-width: 45px;
  transition: linear 200ms;
}

.prev-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) !important;
  left: 10px;
  z-index: 1;
  width: 6.6%;
  min-width: 45px;
  transition: linear 200ms;
}

.prev-arrow:active,
.next-arrow:active {
  scale: 0.94;
}

.slider {
  position: relative;
}

.slider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -18%;
  width: 20%;
  background: rgba(53, 52, 52, 0.8);
  filter: blur(40px);
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -18%;
  width: 20%;
  background: rgba(53, 52, 52, 0.8);
  filter: blur(40px);
}

.feedback_btn {
  border: 3px solid #000000;
  transition: all 250ms ease-in-out;
}

.feedback_btn:hover {
  border: 3px solid #000000;
  background-color: #000000 !important;
  color: white !important;
}

.arrow_one {
  padding: 4px 24px;
  background-color: var(--clr-light);
  border: unset;
  transition: linear 200ms;
}

.arrow_one:hover {
  opacity: 0.7;
}

.arrow_one:active {
  scale: 0.95;
}

.slider_social_icons {
  transition: 250ms linear;
  width: 40px;
}

.slider_social_icons:hover {
  transform: translateY(-8px);
}

.slider_arrows {
  width: 40px;
}

.footer_social_icons img {
  transition: linear 250ms;
}

.footer_social_icons:hover img {
  transform: translateX(-8px);
}

.footer_social_icons:hover {
  color: var(--clr-light);
}

.footer_icons {
  width: 35px;
}

.footer_mail_input {
  padding: 16px 40px;
  background: rgba(24, 24, 24, 0.83);
  border: 3px solid var(--clr-light);
  width: 100%;
  outline: unset;
}

.footer_mail_input::placeholder {
  font-size: var(--fs-4xl);
  font-weight: 400;
  font-family: 'Montserrat';
  color: rgba(245, 239, 239, 0.22);
}

.qoutes_img {
  width: 65px;
}

.slick-counter .current {
  font-size: var(--fs-10xl);
  font-weight: 700;
  color: var(--clr-white);
  font-family: 'Montserrat';
  line-height: 70%;
}

.slick-counter {
  font-size: var(--fs-5xl);
  font-weight: 700;
  color: var(--clr-white);
  font-family: 'Montserrat';
  display: flex;
  align-items: start;
  line-height: 100%;
  gap: 8px;
}

.slick-counter .total {
  line-height: 100%;
}

.custom-slider .slick-list {
  margin-bottom: 24px;
}

.bg_light_gray {
  background-color: rgba(217, 217, 217, 0.5);
}

.left_arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: -20px;
  z-index: 1;
  /* width: 6.6%; */
  min-width: 45px;
}

.right_arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: -20px;
  z-index: 1;
  /* width: 6.6%; */
  min-width: 45px;
}

.icon_hover:hover {
  transform: translateX(-10%);
}

.icon_hover {
  transition: all 250ms ease-in-out;
}

.after_line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0%;
  bottom: -0px;
  background-color: var(--clr-light);
}

.footer_icon_hover:hover {
  transform: translateY(-10%);
}

.footer_icon_hover {
  transition: all 250ms ease-in-out;
}

.footer_bg_img {
  background-image: url(../img/png/footer_black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.left_arrow:active,
.right_arrow:active {
  scale: 0.95;
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: linear 200ms;
  display: none;
}

.back-to-top:active,
.back-to-top:hover {
  scale: 0.9;
}

.btn_font_size {
  font-size: 25px;
}

@media (min-width: 575.98px) {
  :root {
    --fs-xl: 20px;
    --fs-2xl: 22px;
    --fs-3xl: 24px;
    --fs-3xxl: 30px;
    --fs-4xl: 34px;
    --fs-4xxl: 30px;
    --fs-5xl: 25px;
    --fs-6xl: 46px;
    --fs-10xl: 58px;
  }

  .btn_font_size {
    font-size: unset;
  }

  .right_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    z-index: 1;
    width: 5.6%;
    transition: linear 150ms;
    min-width: 50px;
  }

  .left_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    z-index: 1;
    width: 5.6%;
    transition: linear 150ms;
    min-width: 50px;
  }

  .qoutes_img {
    width: 150px;
  }
}

@media (min-width: 767.98px) {
  :root {
    --fs-xl: 20px;
    --fs-2xl: 22px;
    --fs-3xl: 24px;
    --fs-3xxl: 32px;
    --fs-4xl: 24px;
    --fs-4xxl: 30px;
    --fs-5xl: 25px;
    --fs-6xl: 52px;
    --fs-10xl: 50px;
  }

  .footer_mail_input {
    padding: 28px 76px;
  }

  .slider_social_icons {
    width: 50px;
  }

  .slider_arrows {
    width: 50px;
  }
}

@media (min-width: 991.98px) {
  :root {
    --fs-xl: 20px;
    --fs-2xl: 22px;
    --fs-3xl: 24px;
    --fs-3xxl: 32px;
    --fs-4xl: 25px;
    --fs-4xxl: 42px;
    --fs-5xl: 44px;
    --fs-6xl: 54px;
    --fs-10xl: 80px;
  }

  .slick-counter {
    position: absolute;
    top: -19%;
    right: 5%;
  }

  .custom-slider .slick-list {
    margin-bottom: unset;
  }

  .slider_position {
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    /* transform: translateY(-50%); */
  }

  .slick-counter .current {
    color: var(--clr-dark);
  }

  .slick-counter {
    color: var(--clr-dark);
  }
}

@media (min-width: 1200px) {
  .responsive_nav {
    max-width: unset;
    width: unset;
    background-color: unset;
    position: unset;
    top: unset;
    left: unset;
    min-height: unset;
    opacity: unset;
    pointer-events: all;
  }

  .slick-counter {
    position: absolute;
    top: -16%;
    right: 5%;
  }

  .footer_icons {
    width: 54px;
  }

  .arrow_one {
    padding: 12px 48px;
  }

  .hero_section_height {
    min-height: 100vh;
  }

  .slider_position {
    position: absolute;
    top: -3%;
    right: 0;
    width: 100%;
    /* transform: translateY(-50%); */
  }
}

@media (min-width: 1399.98px) {
  :root {
    --fs-xl: 20px;
    --fs-2xl: 30px;
    --fs-3xl: 32px;
    --fs-3xxl: 35px;
    --fs-4xl: 40px;
    --fs-4xxl: 45px;
    --fs-5xl: 50px;
    --fs-6xl: 60px;
    --fs-10xl: 100px;
  }

  .slick-counter {
    position: absolute;
    top: -14%;
    right: 5%;
  }

  .slider_position {
    position: absolute;
    top: -5%;
    right: 0;
    width: 100%;
    /* transform: translateY(-50%); */
  }

  .slider_social_icons {
    width: 77px;
  }

  .slider_arrows {
    width: 74px;
  }
}

@media (min-width: 1920.1px) {
  .hero_section_height {
    min-height: 1080px;
  }
}